 .searchButton {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: rgba(19, 68, 114, 0.741);
    margin-left: 1%;
  }

.searchInput {
    width: 50%;
    border: 3px solid #fff;
    margin-left: 25%;
}

.dropDownList {
    width: 50%;
    border: 3px solid #fff;
    margin-left: 25%;
    background: white;
}

.textResultsDiv {
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    background-color:#fff;
    height: 30vh;
    overflow-y: auto;
}

ul {
    list-style-type: none;
}

li {
    margin-left: -3vh;
}